body
{
  color: white;
  background-color: black;
  text-align: center;
  font-weight: bold;
  font-size:  25px;
}

button
{
  border-color: white;
  background-color: greenyellow;
  width: 155px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
}

#servernamesbutton
{
  width: 200px;
  height: 60px;
}
